@import url("https://unpkg.com/tippy.js/dist/tippy.css");
@import url("https://unpkg.com/tippy.js/themes/light.css");
@import url("https://unpkg.com/tippy.js/animations/shift-away.css");

.tippy-box[data-theme~="cue"] {
  background-color: light-dark("blue", "red");
  color: light-dark("red", "blue");
  font-family: Poppins;
}
.tippy-box[data-theme~="cue"] > .tippy-arrow {
  background-color: light-dark("blue", "red");
}

.tippy-tooltip.tomato-theme {
  background-color: tomato;
  color: yellow;
}

// .root {
//   .tippy-box[data-theme~="cue"] {
//     background-color: light-dark(
//       var(--cue-extra-light-gray),
//       var(--cue-secondary)
//     );
//     color: light-dark("red", "blue");
//     font-family: (--cue-font-family);
//   }
//   .tippy-box[data-theme~="cue"] > .tippy-arrow {
//     background-color: light-dark(
//       var(--cue-extra-light-gray),
//       var(--cue-secondary)
//     );
//   }
// }
