:root {
  /* CARD SYSTEM */
  --cue-card-border-radius: calc(30em / 16);
  --cue-card-padding-x: calc(24em / 16);
  --cue-card-padding-y: calc(20em / 16);
  --cue-card-border-color: rgba(255, 255, 255, 0.2);
  --cue-card-box-shadow: 0 1px calc(24em / 16) rgba(0, 0, 0, 0.2);

  @media (prefers-color-scheme: dark) {
    --cue-card-border-color: rgba(0, 0, 0, 0.2);
    --cue-card-box-shadow: 0 1px calc(24em / 16) rgba(255, 255, 255, 0.3);
  }
}
