:root {
  /* GRID SYSTEM */
  --cue-grid-gap-s: calc(8em / 16);
  --cue-grid-gap-m: calc(16em / 16);
  --cue-grid-gap-l: calc(30em / 16);
}

@container container-wrap (width <= 20em) {
  cue-flexcontainer {
    --cue-grid-gap-s: calc(6em / 16);
    --cue-grid-gap-m: calc(10em / 16);
    --cue-grid-gap-l: calc(16em / 16);
  }
}
