/* INPUT ELEMENTS SYSTEM */

/* SWITCH */
:root {
  --cue-input-switch-background: var(--cue-color-midgray);
  --cue-input-switch-indicator-background: var(--cue-color-white);
  --cue-input-switch-indicator-foreground: var(--cue-color-black);
  --cue-input-switch-focus-color: var(--cue-color-white);

  --cue-input-switch-checked-background: var(--cue-color-darkblue);
  --cue-input-switch-checked-indicator-background: var(--cue-color-white);
  --cue-input-switch-checked-indicator-foreground: var(--cue-color-black);

  --cue-input-switch-disabled-background: var(--cue-color-midgray);
  --cue-input-switch-disabled-indicator-background: var(--cue-color-lightgray);
  --cue-input-switch-disabled-indicator-foreground: var(--cue-color-midgray);
}
