@use "@angular/material" as mat;
@use "./cue-theme" as theme;
@use "./font";
@use "./color";
@use "./card";
@use "./button";
@use "./grid";
@use "./flex";
@use "./icon";
@import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp);

:root {
  color-scheme: light;
  /* EXISTING DEFINITIONS: marked for deletion */
  --cue-light-gray: #d9d9d9;
  --cue-extra-light-gray: #f5f6f9;
  --cue-font-family: Poppins;
}

body {
  --background-color: var(--cue-main-background);
  background-color: var(--background-color);
  color: var(--cue-main-foreground);
  margin: 0;

  &.dark {
    color-scheme: dark;
  }
}

.docs-story {
  background-color: var(--cue-main-background) !important;
  color: var(--cue-main-foreground) !important;
}
