@import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp);
/* poppins-latin-ext-300-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('poppins-latin-ext-300-normal.woff2') format('woff2'), url('poppins-latin-ext-300-normal.woff') format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* poppins-latin-300-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('poppins-latin-300-normal.woff2') format('woff2'), url('poppins-latin-300-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* poppins-latin-ext-400-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('poppins-latin-ext-400-normal.woff2') format('woff2'), url('poppins-latin-ext-400-normal.woff') format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* poppins-latin-400-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('poppins-latin-400-normal.woff2') format('woff2'), url('poppins-latin-400-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* poppins-latin-ext-500-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('poppins-latin-ext-500-normal.woff2') format('woff2'), url('poppins-latin-ext-500-normal.woff') format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* poppins-latin-500-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('poppins-latin-500-normal.woff2') format('woff2'), url('poppins-latin-500-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* poppins-latin-ext-700-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('poppins-latin-ext-700-normal.woff2') format('woff2'), url('poppins-latin-ext-700-normal.woff') format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* poppins-latin-700-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('poppins-latin-700-normal.woff2') format('woff2'), url('poppins-latin-700-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* material-icons-latin-400-normal */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('material-icons-latin-400-normal.woff2') format('woff2'), url('material-icons-latin-400-normal.woff') format('woff');
}
:root {
  --cue-primary: #2859E1;
  --cue-accent: #E2F552;
  --cue-secondary: #121C2B;
  --cue-info: #1948CA;
  --cue-error: #FC2626;
  --cue-success: #4CAF50;
  --cue-warning: #FFC107;
  --cue-extra-light-gray: #F5F6F9;
}

body {
  background-color: light-dark(var(--cue-extra-light-gray), var(--cue-secondary));
  color: light-dark(var(--cue-secondary), var(--cue-extra-light-gray));
  --mdc-checkbox-state-layer-size: 32px;
  --mdc-chip-container-height: 24px;
  --mdc-text-button-container-height: 32px;
  --mdc-protected-button-container-height: 32px;
  --mdc-filled-button-container-height: 32px;
  --mdc-outlined-button-container-height: 32px;
  --mdc-icon-button-state-layer-size: 32px;
  --mdc-list-list-item-one-line-container-height: 40px;
  --mdc-list-list-item-two-line-container-height: 56px;
  --mdc-list-list-item-three-line-container-height: 80px;
  --mdc-radio-state-layer-size: 32px;
  --mdc-secondary-navigation-tab-container-height: 40px;
  --mat-checkbox-touch-target-display: none;
  --mat-expansion-header-collapsed-state-height: 40px;
  --mat-expansion-header-expanded-state-height: 56px;
  --mat-fab-touch-target-display: none;
  --mat-form-field-container-height: 48px;
  --mat-form-field-filled-label-display: none;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-filled-with-label-container-padding-top: 12px;
  --mat-form-field-filled-with-label-container-padding-bottom: 12px;
  --mat-icon-button-touch-target-display: none;
  --mat-list-list-item-leading-icon-start-space: 8px;
  --mat-list-list-item-leading-icon-end-space: 8px;
  --mat-text-button-touch-target-display: none;
  --mat-protected-button-touch-target-display: none;
  --mat-filled-button-touch-target-display: none;
  --mat-outlined-button-touch-target-display: none;
  --mat-paginator-container-size: 48px;
  --mat-paginator-form-field-container-height: 40px;
  --mat-paginator-form-field-container-vertical-padding: 8px;
  --mat-paginator-touch-target-display: none;
  --mat-radio-touch-target-display: none;
  --mat-select-arrow-transform: none;
  --mat-standard-button-toggle-height: 40px;
  --mat-stepper-header-height: 64px;
  --mat-table-header-container-height: 48px;
  --mat-table-footer-container-height: 44px;
  --mat-table-row-item-container-height: 44px;
  --mat-toolbar-standard-height: 56px;
  --mat-toolbar-mobile-height: 48px;
  --mat-tree-node-min-height: 40px;
}
body {
  --mat-sys-background: light-dark(#faf8ff, #000e3e);
  --mat-sys-error: light-dark(#c0000f, #ffb4aa);
  --mat-sys-error-container: light-dark(#ffdad5, #930009);
  --mat-sys-inverse-on-surface: light-dark(#efefff, #002681);
  --mat-sys-inverse-primary: light-dark(#b6c4ff, #1c51da);
  --mat-sys-inverse-surface: light-dark(#002681, #dce1ff);
  --mat-sys-on-background: light-dark(#001551, #dce1ff);
  --mat-sys-on-error: light-dark(#ffffff, #690004);
  --mat-sys-on-error-container: light-dark(#930009, #ffdad5);
  --mat-sys-on-primary: light-dark(#ffffff, #00277f);
  --mat-sys-on-primary-container: light-dark(#003ab1, #dce1ff);
  --mat-sys-on-primary-fixed: light-dark(#001550, #001550);
  --mat-sys-on-primary-fixed-variant: light-dark(#003ab1, #003ab1);
  --mat-sys-on-secondary: light-dark(#ffffff, #273141);
  --mat-sys-on-secondary-container: light-dark(#3d4758, #d9e3f8);
  --mat-sys-on-secondary-fixed: light-dark(#121c2b, #121c2b);
  --mat-sys-on-secondary-fixed-variant: light-dark(#3d4758, #3d4758);
  --mat-sys-on-surface: light-dark(#001551, #dce1ff);
  --mat-sys-on-surface-variant: light-dark(#0039b5, #dce1ff);
  --mat-sys-on-tertiary: light-dark(#ffffff, #00277f);
  --mat-sys-on-tertiary-container: light-dark(#003ab1, #dce1ff);
  --mat-sys-on-tertiary-fixed: light-dark(#001550, #001550);
  --mat-sys-on-tertiary-fixed-variant: light-dark(#003ab1, #003ab1);
  --mat-sys-outline: light-dark(#476dee, #6989ff);
  --mat-sys-outline-variant: light-dark(#b7c4ff, #0039b5);
  --mat-sys-primary: light-dark(#1c51da, #b6c4ff);
  --mat-sys-primary-container: light-dark(#dce1ff, #003ab1);
  --mat-sys-primary-fixed: light-dark(#dce1ff, #dce1ff);
  --mat-sys-primary-fixed-dim: light-dark(#b6c4ff, #b6c4ff);
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-secondary: light-dark(#555f70, #bdc7db);
  --mat-sys-secondary-container: light-dark(#d9e3f8, #3d4758);
  --mat-sys-secondary-fixed: light-dark(#d9e3f8, #d9e3f8);
  --mat-sys-secondary-fixed-dim: light-dark(#bdc7db, #bdc7db);
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-surface: light-dark(#faf8ff, #000e3e);
  --mat-sys-surface-bright: light-dark(#faf8ff, #002d96);
  --mat-sys-surface-container: light-dark(#ebedff, #00185b);
  --mat-sys-surface-container-high: light-dark(#e4e7ff, #002173);
  --mat-sys-surface-container-highest: light-dark(#dce1ff, #002a8b);
  --mat-sys-surface-container-low: light-dark(#f3f2ff, #001551);
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #000a33);
  --mat-sys-surface-dim: light-dark(#d1d8ff, #000e3e);
  --mat-sys-surface-tint: light-dark(#1c51da, #b6c4ff);
  --mat-sys-surface-variant: light-dark(#dce1ff, #0039b5);
  --mat-sys-tertiary: light-dark(#1c51da, #b6c4ff);
  --mat-sys-tertiary-container: light-dark(#dce1ff, #003ab1);
  --mat-sys-tertiary-fixed: light-dark(#dce1ff, #dce1ff);
  --mat-sys-tertiary-fixed-dim: light-dark(#b6c4ff, #b6c4ff);
  --mat-sys-neutral-variant20: #002681;
  --mat-sys-neutral10: #001551;
}
body {
  --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
body {
  --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
body {
  --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
body {
  --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
body {
  --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
body {
  --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
body {
  --mat-sys-body-large: 400 1rem / 1.5rem Poppins;
  --mat-sys-body-large-font: Poppins;
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 0.875rem / 1.25rem Poppins;
  --mat-sys-body-medium-font: Poppins;
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.75rem / 1rem Poppins;
  --mat-sys-body-small-font: Poppins;
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large: 400 3.562rem / 4rem Poppins;
  --mat-sys-display-large-font: Poppins;
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 2.812rem / 3.25rem Poppins;
  --mat-sys-display-medium-font: Poppins;
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 2.25rem / 2.75rem Poppins;
  --mat-sys-display-small-font: Poppins;
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large: 400 2rem / 2.5rem Poppins;
  --mat-sys-headline-large-font: Poppins;
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem Poppins;
  --mat-sys-headline-medium-font: Poppins;
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem Poppins;
  --mat-sys-headline-small-font: Poppins;
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large: 500 0.875rem / 1.25rem Poppins;
  --mat-sys-label-large-font: Poppins;
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem Poppins;
  --mat-sys-label-medium-font: Poppins;
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem Poppins;
  --mat-sys-label-small-font: Poppins;
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large: 400 1.375rem / 1.75rem Poppins;
  --mat-sys-title-large-font: Poppins;
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem Poppins;
  --mat-sys-title-medium-font: Poppins;
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem Poppins;
  --mat-sys-title-small-font: Poppins;
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}
body {
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;
}
body {
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}

body {
  margin: 0;
}
body.dark {
  color-scheme: dark;
}

:root {
  --mdc-elevated-card-container-shape: 30px;
}
:root {
  --mdc-outlined-card-container-shape: 30px;
}
